h1 {
	margin-bottom: 0px;
}
button {
	cursor: pointer;
	background: transparent;
}
.kanban-board {
	float: left;
	margin: 10px 20px;
}
.kanban-list {
	padding: 0px;
	list-style: none;
}
.kanban-item {
	cursor: move;
	/*padding: 7px;*/
	padding: 16px 10px;
	margin: 5px 0px;
	border: 1px dashed gray;
}
.kanban-item input {
	border: none;
	padding: 3px;
}
.kanban-add {
	padding: 3px 5px;
	border: solid 1px gray;
}
.kanban-delete {
	border: none;
	font-size: 17px;
}
